In [11]:
import re
import pandas as pd

In [12]:
# Cargar nuestro dataset
df = pd.read_csv(r'E:\Mt y Dip\Bedu\Modulo 3 Analisis de datos con python\DATA-ANA-24-BEDU-08\Ejemplo_01_03_Amazon_Sales_Dataset.csv')

df.head(3)

,Order ID,Product Name,Price,Quantity Sold,Full Name,Phone Number,Customer Email,Review,Rating,Review Date
0,00BZ6XTJP9,Tablet PEAK,211.77,424,Elizabeth Garcia,563-903-9622,c1wjl0zb@gmail.com,Excellent product. Very happy with my purchase!,5,17/12/2020
1,16EEGPBR2G,Monitor X13O,940.79,212,Elizabeth Miller,495-737-1311,ikv2a961@hotmail.com,"The purchasing process was slow. However, the ...",5,26/02/2021
2,1JMJXQL1LJ,Monitor H4PN,706.78,247,Robert Brown,272-649-2439,75kf2z8g@yahoo.com,This product is amazing. Highly recommend to e...,5,19/09/2022

### Busqueda de numeros de telefoono ue comiencen con 101

In [13]:
def find_phone_number_with_101(text):
    pattern = r'\b101-\d{3}-\d{4}' # 101-903-9622
    result = re.findall(pattern, text) # Buscame el patron/coincidencias (pattern) en el objeto text
    return bool(result)

df_with_101_phone_numbers = df[df['Phone Number'].apply(find_phone_number_with_101)]
df_with_101_phone_numbers.head()

,Order ID,Product Name,Price,Quantity Sold,Full Name,Phone Number,Customer Email,Review,Rating,Review Date
445,YETD3JA7HH,Tablet 0K4H,1216.22,53,Robert Miller,101-108-1955,j11wqgvw@hotmail.com,Its alright for the price. I might get another...,3,19/05/2020
668,P1QK34I35K,Monitor R80U,886.59,435,Mary Williams,101-636-5749,b5om8wod@yahoo.com,Its a poor product. Not what I was looking for.,2,22/10/2023
885,HE4T7A3IKJ,Smartwatch JV07,916.13,469,Michael Miller,101-293-1455,wnnbj9ws@gmail.com,This is trash. I am so frustrated with it.,1,13/01/2020

#### Busqueda de resenas con la palabra 'excellent'

In [14]:
def find_reviews_with_excellent(text):
    pattern = r'\bexcellent\b|\bExcellent\b'
    result = re.findall(pattern, text)
    return bool(result)

df_reviews_with_excellent = df[df['Review'].apply(find_reviews_with_excellent)]
df_reviews_with_excellent.head()

,Order ID,Product Name,Price,Quantity Sold,Full Name,Phone Number,Customer Email,Review,Rating,Review Date
0,00BZ6XTJP9,Tablet PEAK,211.77,424,Elizabeth Garcia,563-903-9622,c1wjl0zb@gmail.com,Excellent product. Very happy with my purchase!,5,17/12/2020
7,39XG3AEVYQ,Smartphone 6QF7,94.03,327,Mary Martinez,318-521-1294,cftde27u@gmail.com,Excellent product. Worth every penny!,5,23/05/2021
19,6ZQU57VXAJ,Tablet SM7S,166.99,490,James Williams,423-635-1250,tu6z0t3w@gmail.com,Top quality and excellent performance. Very ha...,5,14/07/2021
32,BGRCJSVOUL,Headphones F42A,213.99,331,Mary Johnson,744-902-5047,g6an9ri2@outlook.com,Excellent in every aspect. Five stars from me!,5,20/08/2020
51,JO56PZ5ZAG,Camera SMDC,867.69,491,Robert Miller,672-294-3247,r2hdob4r@outlook.com,Excellent product. I highly recommend it.,5,18/07/2021

####   BUSQUEDA CON SEARCH  DE PRODUCTOS QUE COMIENCEN CON 'Tablet'

In [15]:
def find_products_starts_with_tablet(text):
    pattern = r'\bTablet\b'
    result = re.search(pattern, text)
    return bool(result)

df_products_starts_with_tablet = df[df['Product Name'].apply(find_products_starts_with_tablet)]
df_products_starts_with_tablet.head()

,Order ID,Product Name,Price,Quantity Sold,Full Name,Phone Number,Customer Email,Review,Rating,Review Date
0,00BZ6XTJP9,Tablet PEAK,211.77,424,Elizabeth Garcia,563-903-9622,c1wjl0zb@gmail.com,Excellent product. Very happy with my purchase!,5,17/12/2020
12,5IISPTBLVW,Tablet G6NR,1475.73,454,Robert Jones,684-276-9724,0zuo69xp@outlook.com,Amazing experience from start to finish. Very ...,5,20/04/2023
13,5JJ94CAZK9,Tablet OEJ7,1050.18,365,Mary Garcia,652-134-8403,sf7bmamr@yahoo.com,So happy I bought this. Its exactly what I nee...,5,10/12/2022
19,6ZQU57VXAJ,Tablet SM7S,166.99,490,James Williams,423-635-1250,tu6z0t3w@gmail.com,Top quality and excellent performance. Very ha...,5,14/07/2021
21,8TAG8L2QHT,Tablet DF9V,472.04,90,Mary Garcia,620-479-1628,34liusss@yahoo.com,Fantastic buy. Im really impressed with the qu...,5,14/09/2023

In [16]:
def find_name_with_garcia(text):
    pattern = r'\bGarcia\b'
    result = re.search(pattern, text, re.IGNORECASE)
    return bool(result)

df_name_with_garcia = df[df['Full Name'].apply(find_name_with_garcia)]
df_name_with_garcia.head()

,Order ID,Product Name,Price,Quantity Sold,Full Name,Phone Number,Customer Email,Review,Rating,Review Date
0,00BZ6XTJP9,Tablet PEAK,211.77,424,Elizabeth Garcia,563-903-9622,c1wjl0zb@gmail.com,Excellent product. Very happy with my purchase!,5,17/12/2020
13,5JJ94CAZK9,Tablet OEJ7,1050.18,365,Mary Garcia,652-134-8403,sf7bmamr@yahoo.com,So happy I bought this. Its exactly what I nee...,5,10/12/2022
21,8TAG8L2QHT,Tablet DF9V,472.04,90,Mary Garcia,620-479-1628,34liusss@yahoo.com,Fantastic buy. Im really impressed with the qu...,5,14/09/2023
25,9C9JT3UMZS,Smartwatch CY6I,236.51,366,Patricia Garcia,721-895-7951,siq0gn90@yahoo.com,This is the best Ive tried. Couldnt be happier.,5,02/09/2021
42,DUN4HSXCJE,Headphones FGOE,1145.49,314,Jennifer Garcia,452-582-9989,028xt5v0@hotmail.com,Im very satisfied. This is exactly what I was ...,5,15/06/2020